body {
  font: 14px "PingFangSC-Light", "Segoe UI", "Microsoft YaHei";
  margin: .6rem;
  width: 150px;
}
#option-page {
  width: 470px;
  margin: 1rem auto;
}
#option-page .option-list {
  margin-bottom: 1.6rem;
}
#col-1{
  float: left;
  width: 300px;
  padding-right: 20px;
}
#col-2{
  float: right;
  width: 150px;
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0 .6rem;
}
.list{}
.item {
  border-radius: 3px;
  cursor: pointer;
  line-height: 2em;
  padding: 0 10px 0 25px;
}
.item:hover {
  background: #eee;
}
.item.checked {
  background: url('../images/check.png') 0 8px no-repeat;
  color: #41ad49;
  cursor: default;
}
.desc {
  color: #aaa;
  line-height: 1.625em;
  margin: 0;
  padding-bottom: .3rem;
}
.desc b {
  color: #777;
}
.about{
  color: #aaa;
}

#color-preview{
  border-radius: 3px;
  display: inline-block;
  width: 20px;
  height: 1em;
  padding: 3px;
  vertical-align: middle;
}
#color{
  outline: 0;
  width: 6em;
}
#color-save-success{
  display: none;
  margin: 5px 0 0;
  color: #aaa;
  font-size: 12px;
}