body{
    font: 14px PingFangSC-Light, Microsoft YaHei;
    margin: .6rem .3rem;
    width: 150px;
}
.option-title{
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0 .3rem .3rem;
}
.option-list{
    margin-bottom: .6rem;
}
.option-item{
    cursor: pointer;
    line-height: 2em;
    padding: 0 .3rem;
}
.option-item:hover{
    background: #f0f0f0;
}
.option-item.checked{
    background: #6976af;
    color: #fff;
}